/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
  background-image: url(../Img/bg.jpg);
  background-repeat: no-repeat;
  background-size: 1920px 5378px;
}

/* Ограничение всего контента на сайте */
.container{
  width: 950px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;

}

.block_one{
  opacity: 0;
  transform: translateX(-150px);
}

.block_two{
  width: 940px;
  height: 405px;
  margin: 265px 0px 0px 0px;
  opacity: 0;
  transform: translateX(150px);
}
.block_three{
  width: 940px;
  height: 550px;
  opacity: 0;
  transform: translateX(-150px);
}
.block_four{
  width: 940px;
  height: 757px;
  position: absolute;
  margin: -80px 0px 0px 0px;
  background: url(../Img/grid.png) no-repeat 0px 185px;
  opacity: 0;
  transform: translateX(150px);
}

.block_five{
  margin: 675px 0px 0px 0px;
  width: 940px;
  height: 710px;
  opacity: 0;
  transform: translateX(-150px);
}

.vid{
  margin: 0px 0px 0px 30px;
}

.element-show{
  opacity: 1;
  transform: translateY(0px);
  transition: all 1.5s linear;
  transform: rotate(0deg);
}

/* Зафиксированная шапка сайта */
/* Зафиксированная шапка сайта */

.navigh{
  color: #07c8c0;
  margin: 0 30 0 -80px;
  transition: all 0.1s linear;
  position: absolute;
  cursor: pointer;
}


.navigh:hover{
  color: #00a693;
  transform: scale(1.1);
}
.naviga:hover, .navige:hover, .navigt:hover, .navigw:hover, .navigp:hover, .navigc:hover{
  color: #C0C0C0;
  transform: scale(1.1);


}

.naviga, .navige, .navigt, .navigw, .navigp, .navigc{
  color: #fff;
  position: absolute;
  transition: all 0.1s linear;
  cursor: pointer;

}

.naviga{
  margin: 0px 0px 0px 20px;
}

.navige{
  margin: 0px 0px 0px 80px;
}

.navigt{
  margin: 0px 0px 0px 165px;
}

.navigw{
  margin: 0px 0px 0px 225px;
}

.navigp{
  margin: 0px 0px 0px 280px;
}

.navigc{
  margin: 0px 0px 0px 340px;
}

.navigationbar{
  position: absolute;
  margin: 20px 0px 0 1100px ;
  float: right;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  transition: all 0.1s linear;

}

.logo{
  margin: 10px 0px 0px 320px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  background: linear-gradient(45deg, #0eaeae 33%, #4693bc 66%, #8AA9D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
}

.headd{
  margin: -230px 0px 0px 0px;
  background: #3b2f60;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 3;
  transition: all 0.1s linear;

}

/* Зафиксированная шапка сайта */
/* Зафиксированная шапка сайта */




.heading{
  font-weight: 700;
  font-size: 35px;
  font-family: "Playfair Display";
  color: #fff;
  text-align: center;
  margin: 230px 0 0 0;
  text-decoration: underline;
}

.text{
  font-family: "roboto", sans-serif;
  color: #fff;
  line-height: 25px;
  font-size: 18px;
  word-spacing: 2px;
  margin: 55px 45px 0 0;

}

.btn{
  font-size: 16px;
  color: #0eaeae;
  border: 1px solid #0eaeae;
  border-radius: 3px;
  padding: 10px;
  font-family: 'Hammersmith One', sans-serif;
  position: absolute;
  margin: 55px 0px 0px 400px;
  transition: all 0.1s linear;

}

.btn:hover{
  transform: scale(1.1);
  color:#40E0D0 ;

}



.story{
  margin: 340px 0px 0px 400px;
  color: #413d4b;
  font-size: 26px;
  font-family: "Playfair Display";
  font-weight: 700;
  text-decoration: underline;

}

.txt{
  margin: 30px 0px 0px 0px;
  font-family: "roboto", sans-serif;
  color: #716e78;
  line-height: 20px;
  word-spacing: 2px;
  font-size: 16px;
  font-weight: 510;
  background: url(../Img/tlgr.png) left;
  background-repeat: no-repeat;

  padding: 0px 0px 0px 400px;
  background-size: 20%;
}

.btn2{
  font-size: 16px;
  color: #0eaeae;
  border: 1px solid #0eaeae;
  border-radius: 3px;
  padding: 10px;
  font-family: 'Hammersmith One', sans-serif;
  position: absolute;
  margin: 20px 0px 0px 400px;
  transition: all 0.1s linear; 


}

.btn2:hover{
  transform: scale(1.1);
  color:#5F9EA0 ;

}



.ours{
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  font-family: "roboto", sans-serif;
  text-align: center;
  margin: -40px 0px 40px 0px;
  text-decoration: underline;

}



.expertise{
  font-weight: 700;
  font-family: "Playfair Display";
  text-align: center;
  margin: 70px 0px 0px 0px ;
  font-size: 22px;
  color: #413d4b;
  text-decoration: underline;
}

.lorem{
  font-family: "Playfair Display";
  color: #8d8c90;
  margin: 10px 0px 0px 0px;
  text-align: center;
  font-size: 18px;
}

.line{
  margin: 20px 0px 20px 440px;
}

#blocks{
  font-family: "roboto", sans-serif;
  font-weight: 700;
  color: #413d4b;
  font-size: 15px;
  word-spacing: 2px;
}

.webhead{
  margin: 160px 0px 0px 45px;

}

.webimg{
  position: absolute;
  margin: 100px 0px 0px -365px;

}

.webhead1{
  margin: -75px 0px 0px 400px;


}

.webimg1{
  position: absolute;
  margin: -155px 0px 0px 450px;
}

.webhead2{
  margin: -75px 0px 0px 750px;
}

.webimg2{
  position: absolute;
  margin: -155px 0px 0px 770px;
}

.webhead3{
  margin: 200px 0px 0px 35px;
}

.webimg3{
  position: absolute;
  margin: 115px 0px 0px 125px;
}

.webhead4{
  margin: -75px 0px 0px 400px;
}

.webimg4{
  position: absolute;
  margin: -160px 0px 0px 450px;
}


.webhead5{
  margin: -75px 0px 0px 730px;
}

.webimg5{
  position: absolute;
  margin: -160px 0px 0px 770px;
}



.loremweb, .loremweb1, .loremweb2, .loremweb3, .loremweb4, .loremweb5{
  margin: 10px 0px 0px -650px;
  font-size: 17px;
  color: #666666;
  font-family: "Playfair Display";

}

.loremweb1{
  margin: 10px 0px 0px 0px;
}
.loremweb2{
  margin: 10px 0px 0px 650px;
}

.loremweb4{
margin: 10px 0px 0px 0px;
}

.loremweb5{
  margin: 10px 0px 0px 630px;
}

.meet{
  font-family: "Playfair Display";
  font-size: 25px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin: 780px 0px 25px 0px;
  text-decoration: underline;

}

.lor{
  font-smoothing: "Playfair Display";
  color: #fff;
  text-align: center;
  margin: 10px 0px 10px 0px;

}

.staff{
margin: 0px 0px 15px 0px;
  width: 220px;
  height: 310px;
  border: 1px solid #747388;
  overflow: hidden;
}
.staffi{
  height: 234px;
  width: 220px;
}

.staff2{
  margin: -310px 0px 20px 230px;
  width: 220px;
  height: 310px;
  border: 1px solid #747388;
  overflow: hidden;
}
.staff2i{
  height: 234px;
  width: 220px;
}

.staff3{
  margin: -310px 0px 25px 460px;
  width: 220px;
  height: 310px;
  border: 1px solid #747388;
  overflow: hidden;
}
.staff3i{
  height: 234px;
  width: 220px;
}

.staff4{
  margin: -310px 0px 30px 690px;
  width: 220px;
  height: 310px;
  border: 1px solid #747388;
  overflow: hidden;
}
.staff4i{
  height: 234px;
  width: 220px;
}

.name{
  color: #f4f3f5 ;
  font-weight: 700;
  text-align: center;
  margin: 20px 0px 0px 0px;
  font-family: "roboto", sans-serif;
  font-size: 17px;
}

.SPEC{
  color: #9d9bad;
  text-align: center;
  margin: 5px 0px 0px 0px;
  font-family: "roboto", sans-serif;
  font-size: 15px;
}

.staff, .staff2, .staff3, .staff4{
  transition-duration: 0.5s;

}

.staff:hover, .staff2:hover, .staff3:hover, .staff4:hover{
 transform: scale(1.1);
 cursor: pointer;
 box-shadow: 0 0 10px rgba(0,0,0,1);
}

.btn3{
  font-size: 16px;
  color: #0eaeae;
  border: 1px solid #0eaeae;
  border-radius: 3px;
  padding: 10px;
  font-family: 'Hammersmith One', sans-serif;
  position: absolute;
  margin: 20px 0px 0px 420px;
  transition: all 0.1s linear;

}

.btn3:hover{
  transform: scale(1.1);
  color:#5F9EA0 ;
  cursor: pointer;
}

.partofus{
  color: #fff;
  text-align: center;
  font-family: "roboto", sans-serif;
  font-size: 16px;

}

.elemanim{
  opacity: 1;
  transition: all 0.1s linear;
}
