/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
  background-image: url(../Img/bg.jpg);
  background-repeat: no-repeat;
  background-size: 1920px 5378px;

}

.navigh{
  color: #07c8c0;
  margin: 0 20px 0 0;
  transition: all 0.1s linear;
}

.navigh:hover{
  color: #00a693;
}
.naviga:hover, .navige:hover, .navigt:hover, .navigw:hover, .navigp:hover, .navigc:hover{
  color: #C0C0C0;
  transform: scale(1.1);
}

.naviga, .navige, .navigt, .navigw, .navigp, .navigc{
  color: #fff;
  margin: 0 20px 0 0;
  transition: all 0.1s linear;
}

.navigationbar{
  margin: -10px 0 0 0 ;
  float: right;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;

}

.container{
  margin: 30px 0 0 0;
  width: 950px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
}

.logo{
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  background: linear-gradient(45deg, #0eaeae 33%, #4693bc 66%, #8AA9D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
}

.heading{
  font-weight: 700;
  font-size: 35px;
  font-family: "Playfair Display";
  color: #fff;
  text-align: center;
  margin: 185px 0 0 0;
}

.text{
  font-family: "roboto", sans-serif;
  color: #fff;
  line-height: 25px;
  font-size: 18px;
  word-spacing: 2px;
  margin: 55px 45px 0 0;
}

.btn{
  font-size: 16px;
  color: #0eaeae;
  border: 1px solid #0eaeae;
  border-radius: 3px;
  padding: 10px;
  font-family: 'Hammersmith One', sans-serif;
  position: absolute;
  margin: 55px 0px 0px 400px;
  transition: all 0.1s linear;
}

.btn:hover{
  transform: scale(1.1);
  color:#40E0D0 ;
}

.block_two{
  width: 940px;
  height: 405px;
  margin: 265px 0px 0px 0px;
}

.story{
  margin: 340px 0px 0px 400px;
  color: #413d4b;
  font-size: 26px;
  font-family: "Playfair Display";
  font-weight: 700;
}

.txt{
  margin: 30px 0px 0px 0px;
  font-family: "roboto", sans-serif;
  color: #716e78;
  line-height: 20px;
  word-spacing: 2px;
  font-size: 16px;
  font-weight: 510;
  background: url(../Img/tlgr.png) left;
  background-repeat: no-repeat;

  padding: 0px 0px 0px 400px;
  background-size: 20%;
}

.btn2{
  font-size: 16px;
  color: #0eaeae;
  border: 1px solid #0eaeae;
  border-radius: 3px;
  padding: 10px;
  font-family: 'Hammersmith One', sans-serif;
  position: absolute;
  margin: 20px 0px 0px 400px;
  transition: all 0.1s linear;
}

.btn2:hover{
  transform: scale(1.1);
  color:#5F9EA0 ;
}

.block_three{
  width: 940px;
  height: 550px;
}

.ours{
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  font-family: "roboto", sans-serif;
  text-align: center;
  margin: 0px 0px 0px 0px;
}

.vid{
  margin: 0px 0px 0px 30px;

}

.block_four{
  width: 940px;
  height: 757px;
  position: absolute;
  margin: -80px 0px 0px 0px;
  background: url(../Img/grid.png) no-repeat 0px 185px;
}

.expertise{
  font-weight: 700;
  font-family: "Playfair Display";
  text-align: center;
  margin: 70px 0px 0px 0px ;
  font-size: 22px;
  color: #413d4b;
}

.lorem{
  font-family: "Playfair Display";
  color: #8d8c90;
  margin: 10px 0px 0px 0px;
  text-align: center;
  font-size: 18px;
}

.line{
  margin: 20px 0px 0px 440px;
}

#blocks{
  font-family: "roboto", sans-serif;
  font-weight: 700;
  color: #413d4b;
  font-size: 15px;
  word-spacing: 2px;
}

.webhead{
  margin: 160px 0px 0px 45px;
}

.webimg{
  position: absolute;
  margin: 100px 0px 0px -365px;
}

.webhead1{
  margin: -75px 0px 0px 400px;

}

.webimg1{
  position: absolute;
  margin: -155px 0px 0px 450px;
}

.webhead2{
  margin: -75px 0px 0px 750px;
}

.webimg2{
  position: absolute;
  margin: -155px 0px 0px 770px;
}

.webhead3{
  margin: 200px 0px 0px 35px;
}

.webimg3{
  position: absolute;
  margin: 115px 0px 0px 125px;
}

.webhead4{
  margin: -75px 0px 0px 400px;
}

.webimg4{
  position: absolute;
  margin: -160px 0px 0px 450px;
}


.webhead5{
  margin: -75px 0px 0px 730px;
}

.webimg5{
  position: absolute;
  margin: -160px 0px 0px 770px;
}



.loremweb, .loremweb1, .loremweb2, .loremweb3, .loremweb4, .loremweb5{
  margin: 10px 0px 0px -650px;
  font-size: 17px;
  color: #666666;
  font-family: "Playfair Display";
}

.loremweb1{
  margin: 10px 0px 0px 0px;
}
.loremweb2{
  margin: 10px 0px 0px 650px;
}

.loremweb4{
margin: 10px 0px 0px 0px;
}

.loremweb5{
  margin: 10px 0px 0px 630px;
}


.block_five{
  border: 1px solid #000; 
  margin: 675px 0px 0px 0px;
  width: 940px;
  height: 710px;
}



.meet{
  font-family: "Playfair Display";
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}